body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable-row {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}


.clickable-row:hover {
  background-color: #000000; /* Change to your preferred hover color */
}

.second a:hover {
  color: rgb(0, 183, 255) !important;
}


.active-2 {
  color: rgb(0, 183, 255) !important;
}

.second span:hover {
  padding-bottom: 21px !important;
  border-bottom: 3px solid rgb(0, 183, 255) !important;

}

.breadcrumb>li+li:before {
  content: "" !important;
}

.breadcrumb {
  padding: 19px ;
  font-size: 14px;
  color: #aaa !important;
  letter-spacing: 2px ;
  border-radius: 5px !important;
}

.folder {
  color: "white"; 
  background-color: '#0077B6';
  border-bottom-left-radius: "0"; 
  border-bottom-right-radius: "0";
}

.fa,
i {
  color: rgb(0, 183, 255) !important;
  font-size: 10px ;
}

.fa-angle-double-right {
  color: #aaa !important;
}


.first {
  background-color: white !important;
}


a {
  text-decoration: none !important;
  color: #aaa !important;
}

a:focus,
a:active {
  outline: none !important;
  box-shadow: none !important;
}


.fa-caret-right,
.fa-angle-double-right {
  font-size: 20px !important;
}

.fa-caret-right {
  vertical-align: middle;
}

img {
  vertical-align: bottom ;
  opacity: 0.3 ;
}




.four ol{
  background-color: rgb(51, 0, 80) !important;
}

@media (max-width: 767px) {
  .breadcrumb {
    font-size: 10px;

   }

  .breadcrumb-item+.breadcrumb-item {
        padding-left: 0;
    }
   .fa{
     font-size: 9px !important;
   }

 
 
  .breadcrumb {
letter-spacing: 1px !important;
}
.breadcrumb > * div {
max-width: 60px;
}
.summary-card {
  min-height: 300px; /* Adjust the value as needed */
}


}

.leaflet-container {
  height: 600px;
  width: 100%;
}

/* Add this CSS to your stylesheet */
.last-row {
  border-bottom: 0px solid transparent; /* Removes the bottom border for the last row */
}

.viewsimilar-modal-style {
  width: 500px;
  height: 850px;
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
      content: "";
      display: block;
      border-top: .25rem dotted #3b82f6;
      width: 3.46rem;
      position: absolute;
      left: 7.5rem;
      top: .3125rem
  }
  .timeline-steps .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: .25rem dotted #3b82f6;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}